mat-card{
    width: 24vw;
    height: 16vh;
    background-color: #031833;
    color: white;
}
mat-card-content{
    text-align: center;
}
.title{
    font-size: 1.2em;
}
.value{
    margin-top: 2vh;
    font-size: 1.6em;
    font-weight: 700;
}
.image{
    margin-top: 1vh;
}