app-country-table{
    width: 100vw;
}
.sub-title{
    font-weight: 500;
    font-size: 1.2em;
    width: 99vw;
    color: white;
    height: 5vh;
    background-color: #031833;
    padding-left: 1vw;
}